<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>191063964213-jklbkdoelhdkmt0csdp6vpm59i2k9tjn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191063964213-jklbkdoelhdkmt0csdp6vpm59i2k9tjn</string>
	<key>API_KEY</key>
	<string>AIzaSyC7SPP4sW8c8pREI3qDcmfzuiEk3692tss</string>
	<key>GCM_SENDER_ID</key>
	<string>191063964213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.viktorgordienko.iliili</string>
	<key>PROJECT_ID</key>
	<string>iliili</string>
	<key>STORAGE_BUCKET</key>
	<string>iliili.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191063964213:ios:7e39632a3a334fca3f8f7c</string>
	<key>DATABASE_URL</key>
	<string>https://iliili.firebaseio.com</string>
</dict>
</plist>